<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="client" class="com.epam.spring.beans.Client">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="Igor Taren"/>
    </bean>

    <bean id="eventLogger" class="com.epam.spring.eventLogger.ConsoleEventLogger"/>

    <bean id="app" class="com.epam.spring.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>

    <bean id="event" class="com.epam.spring.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>

</beans>